.app-container {
  text-align: center;
  padding: 50px;
  font-family: sans-serif;
}

.card {
  padding: 2rem;
  border-radius: 8px;
  transition: all 0.3s ease;
  border: 1px solid #ddd;
}

/* Theme Styles */
.light {
  background-color: #ffffff;
  color: #333333;
}

.dark {
  background-color: #222222;
  color: #ffffff;
  border-color: #444;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}
